.sameline{
    height: 250px;
    width:300px;
    background:thistle;
    float: left;
    margin-left:10px;
    padding: 5px;
    overflow: scroll;
    box-shadow: 5px 5px gray ;
    border:5px double teal;
    border-radius: 10%;
    opacity: 0.9;
    animation-name:changebackground;
    animation-duration: 8s;
    
}

@keyframes changebackground{
    from{background: thistle; transform: rotate(0deg);}
    to{background:dodgerblue; transform: rotate(360deg)}
}

.main_div{
    margin-left:80px;
    display:block;
}

h1{
    text-align: center;
}

.sameline h2{
    text-align: center;
    color:hotpink
}

.topmargin{
    margin-top:10px;
    background:rgb(245, 162, 148);
    color:#fff;
    
}

.topmargin h2{
    color:rgb(80, 77, 77)
}

.circlediv{
    border-radius:45%;
    animation-name:changemargin;
    animation-duration: 8s;

}

@keyframes changemargin{
    from{margin-left: 10px;}
    to{margin-left: 1000px;}
}

@keyframes random{
    0% {margin-left: 10px;}
    20% {margin-left: 1000px;}
    60% {margin-left: 1000px;}
    80% {margin-left: 1000px;}
    100% {margin-left: 1000px;}
}


.topmargin:hover{
    transform: scale(1.1,1.1);
    background:tan
}


/*
-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
transform: skewY(10deg);
transform: scale(1,1);
body{
    background-image:linear-gradient(to top, pink,rgb(148, 230, 245),rgb(180, 252, 180))
    background-image:radial-gradient(pink,rgb(148, 230, 245),rgb(180, 252, 180))
}
*/

@media screen and (min-width:400px){
    body{
        background-color:rgb(252, 252, 90)
    }

}
@media screen and (min-width:600px){
    body{
        background-color:rgb(135, 235, 218)
    }

}

@media screen and (min-width:1000px){
    body{
        background-color:rgb(253, 148, 206)
    }
}

@media screen and (min-width:1200px){
    body{
        background-color:rgb(222, 243, 173)
    }
}